- if @event.ticket_types.count == 1
  = f.hidden_field :ticket_type_id, :value => @event.ticket_types.first.id
- else
  %h3= t('replies.form.ticket_type')
  %ol
    - @event.ticket_types.each do |ticket_type|
      %li
        = f.radio_button :ticket_type_id, ticket_type.id, :id => dom_id(ticket_type, 'radio')
        = label_tag(dom_id(ticket_type, 'radio'), "#{ticket_type.name} (#{ticket_type.price} kr)")
    

= f.input :name
= f.input :email

- if @event.require_pid?
  = f.input :pid, :required => true

- if @event.use_food_preferences?
  %div
    %h3 Matpreferenser
    
    %ol
      - FoodPreference.all.each do |fp|
        %li
          = check_box_tag 'reply[food_preference_ids][]', fp.id, @reply.food_preferences.include?(fp), :id => dom_id(fp, 'checkbox')
          = label_tag(dom_id(fp, 'checkbox'), fp.name)
        
  = f.input :food

= f.input :comments

- @event.custom_fields.each do |custom_field|
  = f.simple_fields_for(:custom_field_values, custom_field.values.build) do |custom_fields_form|
    = custom_fields_form.input :custom_field_id, :as => :hidden
    = custom_fields_form.input :value, :label => custom_field.name
  

