- if @event.ticket_types.count == 1
  = f.hidden_field :ticket_type_id, :value => @event.ticket_types.first.id
- else
  %h3= t('replies.form.ticket_type')
  %ul
    - @event.ticket_types.each do |ticket_type|
      %li
        = f.radio_button :ticket_type_id, ticket_type.id
        %label{:for => "reply_ticket_type_id_#{ticket_type.id}"}
          = "#{ticket_type.name} (#{ticket_type.price} kr)"
          

= f.input :name
= f.input :email

- if @event.require_pid?
  = f.input :pid

- if @event.use_food_preferences?
  %div{:style => 'width: 330px'}
    %h3 Matpreferenser
    
    %li
      %ul
        - FoodPreference.all.each do |food_pref|
          %li
            = check_box_tag 'reply[food_preference_ids][]', food_pref.id, @reply.food_preferences.include?(food_pref), :id => dom_id(food_pref, "checkbox")
            = label_tag dom_id(food_pref, "checkbox"), food_pref.name
            
  = f.input :food

= f.input :comments

- @event.custom_fields.each do |custom_field|
  = f.simple_fields_for(:custom_field_values, custom_field.values.build) do |custom_fields_form|
    = custom_fields_form.input :custom_field_id, :as => :hidden
    = custom_fields_form.input :value, :label => custom_field.name
  

