%h2.foo= t('.title', :name => @event.name)

- if @event.deadline.past?
  - if admin_view?
    %p{:class => 'error'}
      = t('.deadline_passed_warning', :name => @event.name)
  - else
    %p{:class => "error"}
      = t('.deadline_passed', :name => @event.name) 
- elsif @event.full? 
  - if admin_view?
    %p{:class => "error"}
      = t('.event_full_warning', :name => @event.name) 
  - else
    %p{:class => "error"}
      = t('.event_full', :name => @event.name) 
      
-# TODO refactor this
- if admin_view? || (!@event.deadline.past? && !@event.full?)
  = simple_form_for([@event, @reply], :id => "new_reply") do |f|
    - if admin_view?
      %h3= t('.admin_functions')
      
      - if @event.send_mail_for?(:signup_confirmation)
        = f.input :send_signup_confirmation, :label => t('.send_signup_confirmation'), :as => :boolean
    
    = render :partial => 'form', :locals => {:f => f}
    
    - if @event.has_terms?
      %h3= t('replies.form.terms')

      = simple_format(@event.terms)

      = f.input :terms, :as => :boolean
    
    = f.submit t('replies.form.submit')
    
