<% 
replies = replies.ascend_by_name
if !params[:show_cancelled]
  replies = replies.not_cancelled
end
total_number_of_guests = replies.not_cancelled.count
replies = replies.all(:include => [:food_preferences, :ticket_type])
%>
<p>
  <% if params[:show_cancelled] %>
    <%= link_to "Show only active", url_for %>
  <% else %>
    <%= link_to "Show cancelled", url_for(:show_cancelled => true) %>
  <% end -%>
</p>


<table class="vertical_header">
  <tr>
    <th>Total number of guests</th>
    <td><%= total_number_of_guests %></td>
  </tr>
</table>

<table border="0" id="guest_list_table">
  <tr>
    <th style="width: 100px; max-width: 100px; min-width: 100px">Name</th>
    <th style="width: 200px; max-width: 200px; min-width: 200px">E-mail</th>
    <th style="width: 50px; max-width: 50px; min-width: 50px">Ticket type</th>
    <th style="width: 100px; max-width: 100px; min-width: 100px">Food preferences</th>
    <th style="width: 100px; max-width: 100px; min-width: 100px">Other food related</th>
    <th style="width: 100px; max-width: 100px; min-width: 100px">Comments</th>
    <th style="width: 100px; max-width: 100px; min-width: 100px">&nbsp;</th>
  </tr>
  <% replies.each do |reply| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td style="width: 100px; max-width: 100px; min-width: 100px"><%= reply.name %></td>
      <td style="width: 200px; max-width: 200px; min-width: 200px"><%= reply.email %></td>
      <td style="width: 50px; max-width: 50px; min-width: 50px"><%= reply.ticket_type.name %></td>
      <td style="width: 100px; max-width: 100px; min-width: 100px"><%= food_preferences(reply)%></td>
      <td style="width: 100px; max-width: 100px; min-width: 100px"><%= reply.food %></td>
      <td style="width: 100px; max-width: 100px; min-width: 100px"><%= reply.comments %></td>
      <td style="width: 100px; max-width: 100px; min-width: 100px">
        <% unless reply.attending? %>
          <%#= link_to "Attending", set_attending_event_event_replies_path(@event, :name => reply.name), :method => :post %>
        <% end -%>
        <% unless reply.cancelled? %>
          <%= link_to "Remove", event_reply_path(reply), :method => :delete, :confirm => "Do you really want to remove #{reply.name} from the guest list?" %><br>
        <% end %>
        <%= link_to "Edit", edit_event_reply_path(reply) %>
      </td>
    </tr>
    
  <% end -%>
</table>

<table class="vertical_header" id="food_preferences_summary">
  <tr>
    <th>Number of...</th>
    <td>&nbsp;</td>
  </tr>
  
  <% FoodPreference.all.each do |food_preference| %>
  
    <tr>
      <th><%= food_preference.name %></th>
      <td><%= replies.to_a.select { |r| r.food_preferences.include?(food_preference) }.size %></td>
    </tr>
  
  <% end -%>
</table>
