<h2><%= t('.header', :name => @event.name) %></h2>
<% if @event.deadline.past? %>
  <% if admin_view? %>
    <p class="error">
      <%= t('.deadline_passed_warning', :name => @event.name) %> 
    </p>
  <% else %>
    <p class="error">
      <%= t('.deadline_passed', :name => @event.name) %> 
    </p>
  <% end %>
<% elsif @event.full?  %>
  <% if admin_view? %>
    <p class="error">
      <%= t('.event_full_warning', :name => @event.name) %> 
    </p>
  <% else %>
    <p class="error">
      <%= t('.event_full', :name => @event.name) %> 
    </p>
  <% end %>
<% end %>

<%# TODO refactor this %>
<% if admin_view? || (!@event.deadline.past? && !@event.full?) %>
  <%= error_messages_for(:reply, :object_name => 'event_reply') %>
  <% signup_fu_form_for([@event, @reply], :id => "new_event_reply") do |f| %>
    <% if admin_view? %>
      <h3>Administrative functions</h3>
    
      <% if @event.send_mail_for?(:signup_confirmation) %>
        <%= f.check_box :send_signup_confirmation, :caption => 'Send signup confirmation mail' %>
      <% end %>
    <% end %>
  
    <h3><%= t('event_replies.form.ticket_type') %></h3>
    <ul>
    <% @event.ticket_types.each do |ticket_type| %>
      <li>
        <%= f.radio_button :ticket_type_id, ticket_type.id %>
        <label for="event_reply_ticket_type_id_<%= ticket_type.id %>"><%= ticket_type.name %> (<%= ticket_type.price %> kr)</label>
      </li>
    <% end %>
    </ul>
    
    <%= f.text_field :name, :caption => t('event_replies.form.name'), :class => 'text' %>
    <%= f.text_field :email, :caption => t('event_replies.form.email'), :class => 'text' %>
    
    <div style="width: 330">
    <h3>Matpreferenser</h3>
      <li>
        <ul>
          <% FoodPreference.all.each do |food_pref| %>
            <li>
              <%= f.check_box_tag 'event_reply[food_preference_ids][]', food_pref.id, false, :id => dom_id(food_pref, "checkbox") %>
              <%= f.label_tag dom_id(food_pref, "checkbox"), food_pref.name %>
              
            </li>
          <% end -%>
        </ul>
      </li>
      <%= f.text_area :food, :caption => t('event_replies.form.food'), :rows => 5 %>
      
    </div>
    <%= f.text_area :comments, :caption => t('event_replies.form.comments'), :rows => 5 %>
    
    
    <% if @event.has_terms? %>
      <h3><%= t('event_replies.form.terms') %></h3>
      
      <%= simple_format(@event.terms) %>
      
      <%= f.check_box :terms, :caption => t('event_replies.form.accept_terms') %>
    <% end -%>
    
    <%= f.submit t('event_replies.form.submit') %>
  <% end -%>
  
<% end -%>