<h1><%= t('.header', :name => @event.name) %></h1>
<% if @event.deadline.past? %>
  <% if admin_view? %>
    <p class="error">
      <%= t('.deadline_passed_warning', :name => @event.name) %> 
    </p>
  <% else %>
    <p class="error">
      <%= t('.deadline_passed', :name => @event.name) %> 
    </p>
  <% end %>
<% elsif @event.full?  %>
  <% if admin_view? %>
    <p class="error">
      <%= t('.event_full_warning', :name => @event.name) %> 
    </p>
  <% else %>
    <p class="error">
      <%= t('.event_full', :name => @event.name) %> 
    </p>
  <% end %>
<% end %>


<% if admin_view? || (!@event.deadline.past? && !@event.full?) %>
  <%= error_messages_for(:reply, :object_name => 'event_reply') %>
  <% signup_fu_form_for([@event, @reply]) do |f| %>
    <% if admin_view? %>
      <h3>Administrative functions</h3>
    
      <% if @event.send_mail_for?(:signup_confirmation) %>
        <%= f.check_box :send_signup_confirmation, :caption => 'Send signup confirmation mail' %>
      <% end %>
    <% end %>
  
    <%= f.select :ticket_type_id, @event.ticket_types.map { |p| ["#{p.name} (#{p.price} kr)", p.id] }, :caption => t('event_replies.form.ticket_type') %>
    <%= f.text_field :name, :caption => t('event_replies.form.name') %>
    <%= f.text_field :email, :caption => t('event_replies.form.email') %>
    <%= f.text_area :food, :caption => t('event_replies.form.food'), :rows => 5 %>
    <%= f.text_area :comments, :caption => t('event_replies.form.comments'), :rows => 5 %>
    
    <% FoodPreference.all.each do |food_pref| %>
      <%= f.label_tag dom_id(food_pref, "checkbox"), food_pref.name %>
      <%= f.check_box_tag 'event_reply[food_preference_ids][]', food_pref.id, false, :id => dom_id(food_pref, "checkbox") %>
    <% end -%>
    
    <%= f.submit t('event_replies.form.submit') %>
  <% end -%>
  
<% end -%>