<h2><%= t('.header', :name => @event.name) %></h2>
<% if @event.deadline.past? %>
  <% if admin_view? %>
    <p class="error">
      <%= t('.deadline_passed_warning', :name => @event.name) %> 
    </p>
  <% else %>
    <p class="error">
      <%= t('.deadline_passed', :name => @event.name) %> 
    </p>
  <% end %>
<% elsif @event.full?  %>
  <% if admin_view? %>
    <p class="error">
      <%= t('.event_full_warning', :name => @event.name) %> 
    </p>
  <% else %>
    <p class="error">
      <%= t('.event_full', :name => @event.name) %> 
    </p>
  <% end %>
<% end %>

<%# TODO refactor this %>
<% if admin_view? || (!@event.deadline.past? && !@event.full?) %>
  <%= error_messages_for(:reply, :object_name => 'event_reply') %>
  <% signup_fu_form_for([@event, @reply], :id => "new_event_reply") do |f| %>
    <% if admin_view? %>
      <h3>Administrative functions</h3>
      
      <% if @event.send_mail_for?(:signup_confirmation) %>
        <%= f.check_box :send_signup_confirmation, :caption => 'Send signup confirmation mail' %>
      <% end %>
    <% end %>
    
    <%= render :partial => 'form', :locals => {:f => f} %>
    
    <% if @event.has_terms? %>
      <h3><%= t('event_replies.form.terms') %></h3>

      <%= simple_format(@event.terms) %>

      <%= f.check_box :terms, :caption => t('event_replies.form.accept_terms') %>
    <% end -%>
    
    <%= f.submit t('event_replies.form.submit') %>
    
  <% end -%>
  
<% end -%>