<% content_for :nav do %>
  <% if @event.expire_unpaid? %>
    <%= button_link_to("Reminder run", reminder_run_event_path(@event), :method => :post, :confirm => "Are you sure you want to do a reminder run? All unpaid replies older than #{@event.payment_time} days will be reminded.") %>
    <%= button_link_to("Expiry run", expiry_run_event_path(@event), :method => :post, :confirm => "Are you sure you want to do a expire run? All unpaid replies reminded more than #{@event.expire_time_from_reminder} days will be expired.") %>
  <% end %>
  <%= button_link_to("Back to #{@event.name}", @event)%>
<% end -%>

<h2>Economy</h2>

<% form_tag(economy_event_event_replies_path(@event)) do %>
  <table id="economy_report_table">
    <tr>
      <th>Name</th>
      <th>Paid?</th>
      <th>Reminded?</th>
    </tr>
    
    <% @replies.ascend_by_name.each do |reply| %>
      <tr>
        <td><%= reply.name %></td>
        <td>
          <% if reply.paid? %>
            <%= reply.paid_at.strftime("%Y-%m-%d") %>
          <% else %>
            <%= check_box_tag "reply_ids[]", reply.id, false, :id => "reply_#{reply.id}" %>
          <% end -%>
        </td>
        <td>
          <% if reply.reminded? %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
      </tr>
    <% end -%>
  </table>
  
  <%= submit_tag "Save" %>
  
<% end -%>