<% javascript "economy" %>

<% content_for :nav do %>
  <% if @event.expire_unpaid? %>
    <%= button_link_to("Reminder run", reminder_run_event_path(@event), :method => :post, :confirm => "Are you sure you want to do a reminder run? All unpaid replies older than #{@event.payment_time} days will be reminded.") %>
    <%= button_link_to("Expiry run", expiry_run_event_path(@event), :method => :post, :confirm => "Are you sure you want to do a expire run? All unpaid replies reminded more than #{@event.expire_time_from_reminder} days will be expired.") %>
  <% end %>
  <%= button_link_to("Back to #{@event.name}", @event)%>
<% end -%>

<h2>Economy</h2>

<% form_tag(economy_event_event_replies_path(@event)) do %>
  <table id="economy_report_table">
    <tr>
      <% if @event.has_payment_reference? %>
        <th>Payment ref</th>
      <% end %>
      <th>Name</th>
      <th>Payment state</th>
      <th>Mark as paid</th>
      <% if @event.expire_unpaid? %>
        <th>Reminded?</th>
      <% end -%>
    </tr>
    
    <% @replies.ascend_by_name.each do |reply| %>
      <tr class="<%= reply.paid? ? "" : "clickable" %>" id="reply_row_<%= reply.id %>">
        <% if @event.has_payment_reference? %>
          <td><%= reply.payment_reference %></td>
        <% end -%>
        <td><%= reply.name %></td>
        <td><%= payment_state(reply) %></td>
        <td>
          <% unless reply.paid? %>
            <%= check_box_tag "reply_ids[]", reply.id, false, :id => "reply_#{reply.id}" %>
          <% end -%>
        </td>
        <% if @event.expire_unpaid? %>
          <td>
            <% if reply.reminded? %>
              Yes
            <% else %>
              No
            <% end %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </table>
  
  <%= submit_tag "Save" %>
  
<% end -%>
