<% javascript names_event_event_replies_path(@event, :format => :js ) %>
<% javascript "event_replies.js"%>

<% content_for :nav do %>
  <%= button_link_to("Back to #{@event.name}", event_path(@event)) %>
<% end -%>

<h2>Event replies</h2>

<h3>Set attending</h3>
<p>Search for first or last name. Press Enter when you have selected the person you want to mark as attending</p>

<% form_tag(set_attending_event_event_replies_path(@event)) do %>
  <%= label_tag("name") %>
  <%= text_field_tag "name" %>
  <div id="autocomplete_name" class="autocomplete"></div>
  <%= label_tag "paid" %>
  <%= check_box_tag "paid", "1", true %>
  
  <%= submit_tag "Attending" %>
<% end %>

<%= render :partial => 'list', :locals => {:replies => @replies }%>
