<% if @event.deadline.past? %>
  <p class="error">
    The deadline for <%= @event.name %> has passed
  </p>
<% elsif @event.full?  %>
  <p class="error">
    There are already the max number of guests signed up for this event
  </p>
<% else %>
  
  <%= error_messages_for(:reply) %>
  <% signup_fu_form_for([@event, @reply]) do |f| %>
    <%= f.select :ticket_type_id, @event.ticket_types.map { |p| [p.name, p.id] }, :caption => 'Ticket type'%>
    <%= f.text_field :name, :caption => 'Name' %>
    <%= f.text_field :email, :caption => "E-mail" %>
    <%= f.text_area :food, :caption => "Food preferences", :rows => 5 %>
    <%= f.text_area :comments, :caption => 'Comments', :rows => 5 %>
    <%= f.submit "Sign up" %>
  <% end -%>
  
<% end -%>