- content_for :nav do
  = button_link_to("Back to #{@event.name}", @event)


%h2= t('.title')


%table#permit_report_table
  %tr
    %th Name
    %th Personal identification number
  
  - @replies.ascend_by_name.each do |reply|
    %tr
      %td= reply.name
      %td= reply.pid
  

