- content_for :header do
  #homeheader-text
    %h2
      Fin tagline om SignupFu
    %p
      SignupFu är ett system för att ta emot anmälnignar till fester och arrangemang.
  %img.headerimg{:alt => "header image", :height => "218", :src => "images/umbrella.gif", :width => "255"}/
  
  
%section#introcol
  .leftcol
    %h3 Bekräftelser
    %p
      Dina gäster behöver inte oroa sig för om de är anmälda eller inte. Ett mail skickas till de som anmäler
      sig.
  .rightcol
    %h3 Borttagning
    %p
      Trött på att gäster anmäler sig och sen inte dyker upp? Med Signup-fu kan du automatiskt ta bort
      anmälningar som inte har markerats som betalda inom en viss tid. Självklart skickas först ett
      påminnelsemail.
  .midcol
    %h3 Egen design
    %p
      Vill du använda din egna design? Inga problem! Bara att ladda upp CSS
      och HTML och säga var på sidan formuläret ska vara!
  .clear
  
%section#contact.post
  %h2 Kontakt
  %p
    Vill du komma i kontakt, använd nedanstående formulär som inte finns än

%section#signup.post
  %h2 Sign up
  %p
    Lite text om anmälnignar, och ett enkelt formulär med epost och lösenord.
    
  = simple_form_for(User.new, :url => user_registration_path) do |f|
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.submit
