%h3
  Template
%ul
  - Event.templates.each do |template_description, template_name|
    %li
      = f.radio_button :template, template_name
      %label{ :for => "event_template_#{template_name}" }
        = template_description
%h3
  Dates
%li
  %label{ :for => "event_date" }
    Date
  = f.calendar_date_select :date, :time => true
%li
  %label{ :for => "event_deadline" }
    Deadline
  = f.calendar_date_select :deadline, :time => true
= f.text_field :ref_prefix, :class => 'text', :caption => 'Payment reference prefix'
= f.text_field :max_guests, :class => 'text'
= f.check_box :require_pid, :caption => 'Require personal identification number'
= f.text_area :signup_message, :class => 'text'
= f.check_box :use_food_preferences, :caption => t('.use_food_preferences')
