<h3>Template</h3>
<ul>
<% Event.templates.each do |template_description, template_name| %>
  <li>
    <%= f.radio_button :template, template_name %> <label for="event_template_<%= template_name %>"><%= template_description %></label>
  </li>
<% end %>
</ul>
<h3>Dates</h3>

<li>
  <label for="event_date">Date</label>
  <%= f.calendar_date_select :date, :time => true %>
</li>
<li>
  <label for="event_deadline">Deadline</label>
  <%= f.calendar_date_select :deadline, :time => true %>
</li>
<%= f.text_field :ref_prefix, :class => 'text', :caption => 'Payment reference prefix' %>
<%= f.text_field :max_guests, :class => 'text' %>
<%= f.text_area :signup_message, :class => 'text'  %>
