= f.input :template, :collection => Event.templates
= f.input :date, :as => :string
= f.input :deadline, :as => :string
= f.input :ref_prefix
= f.input :max_guests
= f.input :require_pid
= f.input :signup_message
= f.input :use_food_preferences
