= simple_form_for(@event) do |f|
  - if @event.errors.empty?
    %div{:title => "Introduktion"}
      %p Fyll i följande formulär. I framtiden kommer denna text vara lite mer hjälpsam. Kanske.
  - else
    %div{:title => "Problem!"}
      %div.error
        %p Ett fel uppstod
      
      %p
        Oh noes, det fanns fel i formuläret. Ingen fara, det är bara att gå igenom igen och rätta
        till problemen, som alla är markerade med rött.
  %fieldset
    %legend= t('.general_settings')
    = f.input :name
    = f.input :slug, :hint => "URLen för anmälan kommer vara http://signup-fu.com/e/#{current_user.name}/<slug>/new. Endast a-z, 0-9 och bindestreck tack"
    = render :partial => 'common_fields', :locals => {:f => f}
  
  %fieldset
    %legend= t('.ticket_types')
    
    - if @event.errors[:ticket_types].present?
      %div.error
        %p Minst en biljettyp måste anges
    
    %p.hint
      Ange biljettyper som gästerna ska kunna välja mellan. Du måste alltid fylla i minst en. 
      Gästerna behöver dock bara välja typ om du har fyllt i mer än en. 
  
    - ticket_type_index = 0
    = f.simple_fields_for(:ticket_types, @event.ticket_types_for_new_form) do |ticket_type_form|
      - ticket_type_index += 1
      = ticket_type_form.input :name, :label => t('.ticket_type_name', :number => ticket_type_index)
      = ticket_type_form.input :price, :label => t('.ticket_type_price', :number => ticket_type_index)
  
  %fieldset
    %legend= t('.custom_fields')
    
    %p.hint
      Om du vill ha reda på mer information om dina gäster kan du här fylla i upp till
      tre anpassade fält som kommer visas på anmälningssidan.
    
    - custom_field_index = 0
    = f.simple_fields_for(:custom_fields, @event.custom_fields_for_new_form) do |custom_fields_form|
      - custom_field_index += 1
      = custom_fields_form.input :name, :label => t('.custom_field_name', :number => custom_field_index), :class => 'text'
  
  
  %fieldset
    %legend= t('.signup_confirmation')
    .mail_template_settings
      #signup_confirmation_settings{:style => ''}
        = render :partial => 'mail_template_form', :locals => { :name => 'signup_confirmation', :f => f } 
  
  %fieldset
    %legend= t('.payment_registered')
    .mail_template_settings
      #payment_registered_settings{:style => ''}
      
        = render :partial => 'mail_template_form', :locals => { :name => 'payment_registered', :f => f }
  
  %fieldset
    %legend= t('.reminders_and_cancellation')
    .mail_template_settings
      =# check_box_tag "asfasdfsf[mail_templates_attributes][ticket_expired][enable]", "1", false, :onclick => "", :id => 'ticket_expired'
      =# ff.input :enable, :label => t("events.new.#{name}"), :as => :boolean
      -#%label{:for => 'enable_ticket_expired'} Aktivera
    
      #ticket_expired_settings{:style => ''}
        = f.input :payment_time
        = f.input :expire_time_from_reminder
      
        %h4= t('.ticket_expired')
      
        = render :partial => 'mail_template_form', :locals => { :name => 'ticket_expired', :f => f }
      
        #ticket_expire_reminder_settings
          %h4= t('.payment_reminder')
          = hidden_field_tag "asdfdsfevent[mail_templates_attributes][ticket_expire_reminder][enable]", "0", :id => 'event_mail_templates_ticket_expire_reminder_enabled'
          = render :partial => 'mail_template_form', :locals => { :name => 'ticket_expire_reminder', :f => f }
  
  %fieldset
    %legend Slutliga inställningar
  
    %h3= t('.bounce_address')
    %p.notice
      = raw(t('.bounce_address_notice'))
    
    = f.input :bounce_address
  
    %h3= t('.terms_of_booking')
  
    %p.notice
      = t('.terms_of_booking_notice')
  
    %div
      = check_box_tag "use_terms", "1", false, :id => 'use_terms'
      %label{:for => 'use_terms'}= t(".terms_of_booking")
    
      #terms_settings
        = f.input :terms
  
  = f.submit
    
:javascript
  $('input[type=submit]').hide();
  $('form').jWizard({
    debug: true,
    buttons: {
      cancelType: "reset",
      finishType: "submit"
    },
  })
