%h2.foo
  Mina arrangemang
%section
  %table
    %tr
      %th
        Name
      - if current_user.admin?
        %th Ägare
      %th
        Date
      %th
    - for event in @events
      %tr
        %td
          = link_to event.name, event
        - if current_user.admin?
          %td= event.owner.name
        %td
          = event.date.strftime("%Y-%m-%d %H:%M")
        %td
          = button_link_to "Edit", edit_event_path(event)
          = button_link_to "Delete", event, :method => :delete, :confirm => "Are you sure you want to delete \"#{event.name}\""
  %p#actions
    = button_link_to "New event", new_event_path
  .break

:javascript
  $(function() {
    $('a.button').button();
  });

