<h1>New event</h1>

<% form_for(@event, :builder => signup_fu_form_builder) do |f| %>
  <%= f.text_field :name %>
  <%= f.datetime_select :date %>
  <%= f.datetime_select :deadline %>
  <%= f.text_field :payment_time %>
  <%= f.text_field :max_guests %>
  
  <% ticket_type_index = 0 %>
  <% f.fields_for(:ticket_types) do |ticket_type_form| %>
    <% ticket_type_index += 1 %>
    <%= ticket_type_form.text_field :name, :caption => "Ticket type #{ticket_type_index} name" %>
    <%= ticket_type_form.text_field :price, :caption => "Ticket type #{ticket_type_index} price" %>
  <% end -%>
  
  <%= f.submit "Create event" %>
<% end -%>