<h2>New event</h2>

<%= error_messages_for(:event) %>

<% form_for(@event, :builder => signup_fu_form_builder) do |f| %>
  <%= f.text_field :name %>
  <%= render :partial => 'common_fields', :locals => {:f => f} %>
  
  <% ticket_type_index = 0 %>
  <% f.fields_for(:ticket_types) do |ticket_type_form| %>
    <% ticket_type_index += 1 %>
    <%= ticket_type_form.text_field :name, :caption => "Ticket type #{ticket_type_index} name" %>
    <%= ticket_type_form.text_field :price, :caption => "Ticket type #{ticket_type_index} price" %>
  <% end -%>
  
  <%= check_box_tag "event[mail_templates_attributes][signup_confirmation][enable]", "1", false, 
    :onclick => "$('signup_confirmation').checked ? $('signup_confirmation_settings').show():$('signup_confirmation_settings').hide()",
    :id => 'signup_confirmation' %>
  <label for="signup_confirmation">
    Signup Confirmation
  </label>
  
  <div id="signup_confirmation_settings" style="display: none">
    
    <%= render :partial => 'mail_template_form', :locals => { :name => 'signup_confirmation', :f => f } %>
    
  </div>
  
  <div style="clear: both"></div>
  
  <%= check_box_tag "event[mail_templates_attributes][payment_registered][enable]", "1", false, 
    :onclick => "$('payment_registered').checked ? $('payment_registered_settings').show():$('payment_registered_settings').hide()",
    :id => 'payment_registered' %>
  <label for="payment_registered">
    Payment confirmation
  </label>
  
  <div id="payment_registered_settings" style="display: none">
    
    <%= render :partial => 'mail_template_form', :locals => { :name => 'payment_registered', :f => f } %>
    
  </div>
  
  <div style="clear: both"></div>
  
  
  <script type="text/javascript" charset="utf-8">
    function toggleTicketExpiry() {
      if ($('ticket_expired').checked) {
        $('ticket_expired_settings').show();
        $('event_mail_templates_ticket_expire_reminder_enabled').value = "1"
      } else {
        $('ticket_expired_settings').hide();
      }
    }
  </script>
  
  
  <%= check_box_tag "event[mail_templates_attributes][ticket_expired][enable]", "1", false, 
    :onclick => "toggleTicketExpiry()",
    :id => 'ticket_expired' %>
  <label for="ticket_expired">
    Last payment (with expire)
  </label>
  
  <div id="ticket_expired_settings" style="display: none">
    <%= f.text_field :payment_time %>
    <h4>Ticket expired</h4>
    <%= render :partial => 'mail_template_form', :locals => { :name => 'ticket_expired', :f => f } %>
    <div id="ticket_expire_reminder_settings">
      <h4>Reminder</h4>
      <%= hidden_field_tag "event[mail_templates_attributes][ticket_expire_reminder][enable]", "0", :id => 'event_mail_templates_ticket_expire_reminder_enabled' %>
      <%= render :partial => 'mail_template_form', :locals => { :name => 'ticket_expire_reminder', :f => f } %>
    </div>
    
  </div>
  
  
  <%= f.submit "Create event" %>
<% end -%>