<h1>New event</h1>

<% form_for(@event, :builder => signup_fu_form_builder) do |f| %>
  <%= f.text_field :name %>
  <%= f.datetime_select :date %>
  <%= f.datetime_select :deadline %>
  <%= f.text_field :max_guests %>
  
  <% f.fields_for(:mail_templates) do |template_form| %>
    <%= template_form.select :name, ['Confirmation', 'confirmation'], :caption => 'Mail template name' %>
    <%= template_form.text_field :subject, :caption => 'Mail template Subject' %>
    <%= template_form.text_area :body, :caption => 'Mail template Body' %>
  <% end -%>
  <%= f.submit "Create event" %>
<% end -%>