<h1>New event</h1>

<%= error_messages_for(:event) %>

<% form_for(@event, :builder => signup_fu_form_builder) do |f| %>
  <%= f.text_field :name %>
  <%= f.datetime_select :date %>
  <%= f.datetime_select :deadline %>
  <%= f.text_field :max_guests %>
  <%= f.text_area :signup_message %>
  
  <% ticket_type_index = 0 %>
  <% f.fields_for(:ticket_types) do |ticket_type_form| %>
    <% ticket_type_index += 1 %>
    <%= ticket_type_form.text_field :name, :caption => "Ticket type #{ticket_type_index} name" %>
    <%= ticket_type_form.text_field :price, :caption => "Ticket type #{ticket_type_index} price" %>
  <% end -%>
  
  <%= check_box_tag "signup_confirmation", "1", false, 
    :onclick => "$('signup_confirmation').checked ? $('signup_confirmation_settings').show():$('signup_confirmation_settings').hide()" %>
  <label for="signup_confirmation">
    Signup Confirmation
  </label>
  
  <div id="signup_confirmation_settings" style="display: none">
    
    <%= render :partial => 'mail_template_form', :locals => { :name => 'signup_confirmation', :f => f } %>
    
  </div>
  
  <div style="clear: both"></div>
  
  <%= check_box_tag "payment_registered", "1", false, 
    :onclick => "$('payment_registered').checked ? $('payment_registered_settings').show():$('payment_registered_settings').hide()" %>
  <label for="payment_registered">
    Payment confirmation
  </label>
  
  <div id="payment_registered_settings" style="display: none">
    
    <%= render :partial => 'mail_template_form', :locals => { :name => 'payment_registered', :f => f } %>
    
  </div>
  
  <div style="clear: both"></div>
  
  <%= check_box_tag "ticket_expired", "1", false, 
    :onclick => "$('ticket_expired').checked ? $('ticket_expired_settings').show():$('ticket_expired_settings').hide()" %>
  <label for="ticket_expired">
    Last payment (with expire)
  </label>
  
  <div id="ticket_expired_settings" style="display: none">
    <%= f.text_field :payment_time %>
    
    <%= render :partial => 'mail_template_form', :locals => { :name => 'ticket_expired', :f => f } %>
    
  </div>
  
  
  
  <%= f.submit "Create event" %>
<% end -%>