<h1>New event</h1>

<% form_for(@event, :builder => signup_fu_form_builder) do |f| %>
  <%= f.text_field :name %>
  <%= f.datetime_select :date %>
  <%= f.datetime_select :deadline %>
  <%= f.text_field :max_guests %>
  
  <% price_index = 0 %>
  <% f.fields_for(:event_prices) do |prices_form| %>
    <% price_index += 1 %>
    <%= prices_form.text_field :name, :caption => "Price #{price_index} name" %>
    <%= prices_form.text_field :price, :caption => "Price #{price_index}" %>
  <% end -%>
  
  <%= f.submit "Create event" %>
<% end -%>