<% content_for :nav do %>
  <%= button_link_to("Guests", event_event_replies_path(@event)) %>
  <%= button_link_to("Economy", economy_event_event_replies_path(@event)) %>
  <%= button_link_to("Edit", edit_event_path(@event)) %>
  <%= button_link_to("Add guest", new_event_event_reply_path(@event)) %>
  
<% end -%>

<h2><%= @event.name %></h2>

<table class="vertical_header">
  <tr>
    <th>Date</th>
    <td>
      <%= @event.date.strftime("%Y-%m-%d %H:%M") %>
    </td>
  </tr>
  
  <tr>
    <th>Deadline</th>
    <td><%= @event.deadline.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
  
  <% if @event.payment_time %>
  
    <tr>
      <th>Payment time</th>
      <td><%= @event.payment_time %> days</td>
    </tr>
  <% end -%>
  
  <% if @event.expire_time_from_reminder %>
    <tr>
      <th>Reminder time</th>
      <td><%= @event.expire_time_from_reminder %> days</td>
    </tr>
  <% end -%>
  
  
</table>

<% if @event.send_mail_for?(:signup_confirmation)%>
  <%= render :partial => 'email', :locals => {
    :title => 'Signup confirmation',
    :explanation => "An e-mail will be sent out to everyone who signs up to this event. This email will look like this.",
    :template => @event.mail_templates.by_name(:signup_confirmation) } %>
<% end -%>

<% if @event.send_mail_for?(:ticket_expired) %>
  <%= render :partial => 'email', :locals => {
    :title => 'Ticket expiry reminder',
    :explanation => "If a ticket isn't paid within #{@event.payment_time} days, it will be reminded using this mail template.",
    :template => @event.mail_templates.by_name(:ticket_expire_reminder) } %>
  <%= render :partial => 'email', :locals => {
    :title => 'Ticket expiry',
    :explanation => "If a ticket isn't paid within XXXX days after reminder, it will be deleted and the following mail will be sent to the guest",
    :template => @event.mail_templates.by_name(:ticket_expired) } %>
  


<% end -%>

<% if @event.send_mail_for?(:payment_registered) %>
  <%= render :partial => 'email', :locals => {
    :title => 'Payment registered mail',
    :explanation => "An e-mail will be sent out to guests when their payment is registered in the economy system. This email will look like this.",
    :template => @event.mail_templates.by_name(:payment_registered) } %>
<% end -%>


<h3>Ticket types</h3>
<% if !@event.ticket_types.blank? %>
  <table class="vertical_header">
  <% for type in @event.ticket_types %>
    <tr>
      <th><%= type.name %></th>
      <td><%= type.price %> kr</td>
    </tr>
  <% end %>
  </table>
<% else %>
  
<% end %>

<h3>Guests</h3>

<% if @event.replies.empty? %>
  <p class="empty_list">No guests. You really need more PR.</p>
<% else %>
  <%= render :partial => 'event_replies/list', :locals => {:replies => @event.replies} %>
<% end %>

