<h1><%= @event.name %></h1>

<%= @event.date %>

<%= @event.deadline %>

<%= @event.payment_time %> days

<h2>Mail templates</h2>
<% if !@event.mail_templates.blank? %>
  <% for template in @event.mail_templates %>
    <h3><%= template.name.humanize %></h3>
    
    <dl>
      <dt>Subject:</dt>
      <dd><%= template.subject %></dd>
      
      <dt>Body:</dt>
      <dd><%= template.body %></dd>
    </dl>
  <% end %>
<% else %>
  
<% end %>

<h2>Ticket types</h2>
<% if !@event.ticket_types.blank? %>
  <table>
  <% for type in @event.ticket_types %>
    <tr>
      <td><%= type.name %></td>
      <td><%= type.price %> kr</td>
    </tr>
  <% end %>
  </table>
<% else %>
  
<% end %>



<table border="0" id="guest_list_table">
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Ticket type</th>
    <th>State</th>
    <th>Food preferences</th>
    <th>Comments</th>
  </tr>
  <% @event.replies.each do |reply| %>
  <tr>
    <td><%= reply.name %></td>
    <td><%= reply.email %></td>
    <td><%= reply.ticket_type.name %></td>
    <td>
      <% if reply.aasm_current_state == :expired %>
        Expired (No payment)
      <% elsif reply.aasm_current_state == :paid %>
        Paid (<%= reply.paid_at.strftime("%Y-%m-%d") %>)
      <% elsif reply.aasm_current_state == :new %>
        Unpaid
      <% end -%>
    <td><%= reply.food %></td>
    <td><%= reply.comments %></td>
  </tr>
  
  <% end -%>
</table>