%html
  %head
    %title Signup-fu
    = javascript_include_tag "application", :cache => true
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js"
    = javascript_include_tag "livepipe", :cache => true
    = javascript_include_tag "tabs", :cache => true
    = yield :javascripts
  
    = yield :stylesheets
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'compiled/buttons.css', :media => "screen, projection"
    
    = calendar_date_select_includes "red"
    
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
  
  %body#signup_fu.bp
    #container
      #header
        %h1= link_to "SignupFu", root_path
      
      
      #content
        #navigation
          =yield :nav
        
        - if flash[:notice]
          #flash_notice
            = flash[:notice]
        
        - if flash[:error]
          #flash_error
            = flash[:error]
        
        
        =yield
        
      #footer
        %p
          = t('layout.created_by')
          - if current_user
            = link_to t("layout.logout"), user_session_path, :method => :delete
  