%html
  %head
    %title Signup-fu
    
    = csrf_meta_tag
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.jWizard.js'
    = yield :javascripts
  
    = yield :stylesheets
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'jWizard.base.css', :media => "screen, projection"
    = stylesheet_link_tag 'jquery-ui/signup-fu/jquery-ui-1.8.5.custom.css', :media => "screen, projection"

  %body{:class => "#{params[:controller]}_#{params[:action]}"}
    #wrap
      %nav#mainnav
        %h1#textlogo
          %a{:href => root_path}
            Signup
            %span> Fu
        %ul
          %li.active
            %a{:href => "/"} Home
          %li
            %a{:href => "/#kontakt"} Kontakt
          %li
            %a{:href => "/#registrera"} Registrera
          %li
            - if current_user
              = link_to "Logga ut", destroy_user_session_path
            - else
              = link_to "Logga in", new_user_session_path
              
          - if current_user
            %li
              = link_to "Mina arrangemang", events_path
      
      = yield(:content)
      
      
            